a{
    cursor: pointer;
}
.header{
    width: 100%;
    height: 150px;
    border: 1px solid #2d2d38;
    background-color: #2d2d38;
    margin-bottom: 10px;
}
.header>div{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.header>div>img{
    width: 18%;
}
.header>div>input{
    width: 40%;
    height: 40px;
    font-size: 20px;
}
.header>div>div{
    width: 10%;
}
.header>div>div>i{
    color: grey;
}
.header>div>div>span{
    color: white;
}
.header>div>div:last-child>a:first-child{
    color: grey;
}
.header>div>div:last-child>a:last-child{
    color: white;
}
.clr:hover{
    color: #ff6e26;
}
#chng-clr>a:last-child:hover{
    color: #ff6e26;
}
#header-bottom>a:hover{
    color: #ff6e26;
    
}
#header-bottom{
    width: 60%;
    height: 50px;
    margin-left: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header-bottom>a{
    margin-right: 50px;
    color: white;
    text-decoration: none;
}
#pay>div>div>button{
    font-size: 20px;
    color: #ff6e26;
}